#root {
  margin: 0 auto;
 
 
}
.container {
  padding: 0 50px;
  height: 89vh;
  display: flex;
}
@media only screen and (max-width: 1000px){
  .container{
    height: 87vh;
    padding: 0 30px;
    display: block;
  }
}